*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.flex{
    display:flex;
    align-items: center;
    justify-content: center;
}
.col{
    flex-direction: column;
}
.logo{
    width:100%;
    height:10vh;
    margin-top:2rem;
    align-items: flex-start;
}
.logo img{
   width: 15vw;
}
.left{
    flex-basis: 50%;
    background-image: linear-gradient(44deg, #1B0068 40%, #6D3CEA 105%);
    height:100vh;
    justify-content: flex-start;
}

.textContent{
    margin:2rem;
    width:30vw;
    color:white;
    align-items: center;
    gap:1rem;
    text-align: center;
}
.textContent h1{
    line-height: 1.38;
    font-size:2.75rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight:700;
}
 p{
    font-size:1.3rem;
    font-family: 'Nunito Sans', sans-serif;
    line-height:2rem;
    margin-top:1rem;
    font-weight:400;
}

.icons img{
    margin: 0;
    padding: 0;
    width:100%;
    height:45vh;   
}
.right{
    flex-basis: 50%;
    height:100vh;
    background:#F4F5F4;
}
#box{
    width:35rem;
    height:30rem;
    background:white;
    box-shadow:0 0 50px rgba(0, 0, 0, 0.207);
    border-radius:10px;
    align-items: flex-start;
    gap:1.5rem;
    justify-content: flex-start;
    padding:2rem 0; 
}

#box p{
    margin:0 3rem;
}
#cloud{
    width:29rem;
    height:18rem;
    border-radius: inherit;
    border:rgba(0, 0, 0, 0.116) dashed 3px;
    margin:0 3rem;
}
.text{
    width:15rem;
    text-align: center;
}
.text p{
    font-size:1rem;
}
.text span{
    color:red;
}

.invisible{
    display:none;
}

.button{
    width:100%;
}
button{
    width:8rem;
    height:2rem;
    background:#FE6E02;
    color:white;
    border-radius:10px;
    border:none;
    box-shadow:0 0 10px rgb(0,0,0,0.5);
    font-size:1rem;
    cursor:pointer;
}
#progressBar{
    color:black;
    background-image:  linear-gradient(44deg, #1B0068 40%, #6D3CEA 105%);
    height:10px;
    width:0%;
    border-radius: 8px;
}

.below{
    width:80%;
    justify-content: space-around;
    padding:1rem 3rem;
    box-shadow: 0 0 10px rgb(0,0,0,0.25);
    margin:0 3.5rem;
    background:#6d3cea19;
    display:none;
}

a{
    text-decoration: none;
    display:inline;
}

.basis{
    flex-basis:33.33%;
}

#progressContainer{
    font-size: 0.9rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight:100;
}